/* general styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
  color: #595959;
  text-align: center;
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* header and main navigation */

h1 {
  font-size: 28px;
  width: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #595959;
  padding: 0;
  font-weight: bold;
  font-size: 15px;
}

a:hover {
  color: black;
}

.main-nav ul {
  padding: 0px;
}
.main-nav li {
  list-style-type: none;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px 0;
  width:100%;
}

/* profile */

.profile {
  font-size: 20px;
  padding: 20px 0;
}

.profile-photo {
	width: 100%;
}

.profile p {
  text-align: center;
  font-weight: lighter;
  display: block;
}

/* portfolio */

.portfolio {
  padding: 10px;
  font-weight: lighter;
  background: white;
}

.portfolio p {
  display: block;
}

.portfolio img {
  width: 100%;
}

h2 {
  display: block;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 0;
}

h3 {
  font-weight: 500;
}

/* contact */

.contact-info {
  clear: both;
  padding: 15px 0;
}

.contact-info p {
  padding: 5px;
  font-weight: lighter;
}

.contact-info li {
  list-style-type: none;
  line-height: 40px;
  padding: 0;	
  margin-left: 0;
}

.contact-info ul {
  padding-left: 0;
}

/* footer */

.line-separator {
  border-top: 1px solid lightgrey;
}

.footer-name {
  float: left;
  margin: 20px 0;
  display: inline;
  height: 25px;
}

#top {
  float: right;
  margin: 20px 0;
  display: inline;
  height: 25px;
}

.footer-nav {
  list-style-type: none;
  display: none;
}

/***** media queries *****/

/* medium screen styles */

@media (min-width: 768px) {

/* header */

.main-nav {
  width: 100%;
  display: inline;
  background-color: #f2f2f2;
}

a {
  margin: 0;
  display: inline;
}

.main-nav li {
  background-color: #f2f2f2;
}

li {
  display: inline;
  margin-left: 30px;
}

/* profile */

.profile {
  display: inline;
  float: left;
  width: 100%;
}

.profile-photo {
  float: right;
  max-width: 45%;
}

.profile p {
  width: 50%;
}

/* portfolio */

.portfolio {
    width: 100%;
    float: left;
    margin: 0 auto;
    padding: 0 10px;
  }

  .portfolio img {
    height: 220px;
  }

  .col-1 {
    float: left;
    width: 50%;
    padding-right: 10px;
    height: 380px;
  }

  .col-2 {
    float: right;
    width: 50%;
    height: 380px;
  }

/* contact */

.contact-info {
  padding: 80px 160px;
}

.contact-info li {
  display: block;
}

/* footer */

#top {
  display: none;
}

.footer-nav {
  float: right;
  display: inline-block;
}

}

/*large screen styles */

@media (min-width:1024px) {

/* header */

.main-nav li {
  background-color: #f2f2f2;
  margin-right: 0;
  margin-left: 30px;
}

header {
  display: inline;
}

.name {
  float: left;
  display: inline;
  width: 50%;
  margin-top: 18px;
  text-align: left;
  padding-left: 10px;
}

.main-nav ul {
  float: right;
  display: inline;
  width: 50%;
  margin-top: 32px;
  text-align: right;
  padding-right: 10px;
}

/* profile */

.profile p {
  width: 50%;
}

.profile-photo {
  width: 50%;
}

/* portfolio */

.portfolio {
  width: 100%;
  float: left;
  clear: both;
}

.portfolio img {
  height: auto;
}

.project {
  padding: 10px;
}

.col-1-large {
  width: 33%;
  float: left;
}

.col-2-large {
  width: 33%;
  float: left;
}

.col-3-large {
  width: 33%;
  float: left;
}

/* contact */

.contact-info {
  padding: 80px 300px;
}

/* footer */

.footer-name {
  display: inline;
  margin: 16px 0;
  text-align: left;
}

.footer-nav {
  text-align: right;
}

}
